<%- include('partials/header'); %>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/products/addProduct"> Add Product </a>
</nav>
<div class="container">
    <div class="row">
        <% allProductsVar.forEach(element=>{ %>

        <div class="col-sm-4">
            <div class="card">
                <img src="..." class="card-img-top" alt="..." />
                <div class="card-body">
                    <h5 class="card-title"><%= element.prodname %></h5>
                    <p class="card-text"><%= element.price %></p>
                    <a
                        href="/products/<%= element.id %>"
                        class="btn btn-primary"
                        >Go
                    </a>
                    <a
                        href="/products/<%= element.id %>/edit"
                        class="btn btn-primary"
                        >Edit
                    </a>
                    <a
                        href="/products/<%= element.id %>/delete"
                        class="btn btn-primary"
                        >Delete
                    </a>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</div>

<%- include('partials/footer'); %>
